@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: black;
}

@mixin shiftColor($color) {
  background-color: $color;
  color: darken($color, 20%);
}

.one {
  @include shiftColor($blue);
}

.two {
  @include shiftColor($yellow);
}

.three {
  @include shiftColor($green);
}

.four {
  @include shiftColor($red);
}

.shift {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
