@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: black;
}

@mixin shiftColor($color) {
  background-color: $color;
  color: darken($color, 20%);
}

.ONE {
  @include shiftColor($blue);
}

.TWO {
  @include shiftColor($yellow);
}

.THREE {
  @include shiftColor($green);
}

.FOUR {
  @include shiftColor($red);
}

.shift {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

#day,
#night {
  height: 42.5vh;
}

#date {
  // @extend .shift;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include shiftColor($dark);
}

.vdp-datepicker:nth-child(1) input {
  text-align: center;
  background-color: $dark;
  color: $light;
  font-size: 2rem;
  font-weight: bold;
  width: 20rem;
  border: none;
}
