@import "../node_modules/bootstrap/scss/bootstrap";

@mixin shiftColor($color) {
  background-color: $color;
  color: darken($color, 35%);
}

.one {
  @include shiftColor($blue);
}

.two {
  @include shiftColor($yellow);
}

.three {
  @include shiftColor($green);
}

.four {
  @include shiftColor($red);
}

.shift {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}
